.layout {
  display: block;

  .hasSidebar {
    display: flex;
    justify-content: flex-start;
  }

  &Sidebar {
    width: 206px;
    margin-right: 16px;
  }

  & > &Content {
    padding-top: 17px;

    > .layout {
      margin: 15px 0;
    }
    > .layout > .layoutContent {
      padding: 0;
    }
  }
}
