$base-color: #ddd;
$shine-color: #e8e8e8;
$animation-duration: 1.6s;

@mixin background-gradient {
  background-image: linear-gradient(90deg, $base-color 0, $shine-color 40px, $base-color 80px);
  background-size: 600px;
}

.skeleton {
  &Line {
    display: inline-block;

    @include background-gradient();

    width: 100%;
    height: 14px;
    animation: shine-lines $animation-duration infinite;
  }

  &Image {
    width: 100%;
    height: 100%;

    @include background-gradient();

    animation: shine-lines $animation-duration infinite;
  }
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
