.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 400;
  min-height: 260px;
  background: #fff;
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(50, 50, 71, 0.07);
  transform: translate(-50%, -50%);
}

.header {
  padding: 23px 18px 20px;
  color: #484848;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
  border-bottom: 1px solid #cdcdcd;
}

.content {
  padding: 16px 20px;
  color: #484848;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
}

.footer {
  display: flex;
  gap: 14px;
  justify-content: flex-end;
  padding: 10px 20px;

  button {
    min-width: 70px;
    min-height: 26px;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}

.ok {
  color: #fff;
  background: #90d659;
}

.cancel {
  color: #fff;
  background: #d65959;
}
