.filter {
  margin-top: 24px;

  &Title {
    margin: 0 0 20px 0;
    padding: 0;
    color: #484848;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &List {
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: #646464;
      font-size: 14px;
      line-height: 24px;

      &:hover,
      &.selected {
        color: #ff6000;
        cursor: pointer;
      }
    }
  }
}
