.search {
  display: inline-flex;
  box-sizing: border-box;
  width: 695px;
  padding: 15px 27px;
  background: #eee;
  border-radius: 100px;

  .searchIcon {
    box-sizing: border-box;
    height: 18px;
  }

  .searchInput {
    display: inline;
    flex: 1;

    input {
      width: 100%;
      margin: 0 0 0 11.5px;
      padding: 0;
      color: #333;
      font-weight: 400;
      font-size: 15px;
      font-family: Roboto, sans-serif;
      line-height: 17px;
      background-color: transparent;
      border: none;
      outline: none;

      ::placeholder {
        color: #b0b0b0;
      }
    }
  }
}
