.pageHeader {
  display: flex;
  justify-content: space-between;
  font-family: Roboto, sans-serif;

  &Title {
    margin: 0;
    padding: 0;
    color: #484848;
    font-weight: bold;
    font-size: 28px;
  }

  &SearchTerm {
    color: #b0b0b0;
    font-size: 15px;
    line-height: 100%;
    span {
      color: #484848;
    }
  }

  select {
    box-sizing: border-box;
    height: 48px;
    padding: 0 10px;
    color: #b0b0b0;
    font-size: 17px;
    line-height: 143%;
    text-align: center;
    text-align-last: center;
    border: 1px solid #b4b4bb;
    border-radius: 4px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    ::-ms-expand {
      display: none;
    }
  }
}
