.pager {
  display: flex;
  gap: 6.6px;
  justify-content: flex-start;

  &Button {
    box-sizing: border-box;
    width: 33px;
    height: 33px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 9px;
    cursor: pointer;

    &.current,
    &:hover {
      color: #ff6000;
      background: rgba(255, 96, 0, 0.11);
    }
  }
}
