.card {
  position: relative;
  display: inline-flex;
  font-family: Roboto, sans-serif;

  &Handler {
    position: relative;
    z-index: 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 120px;
    height: 48px;
    color: #b0b0b0;
    font-size: 17px;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    -moz-user-select: none;
    user-select: none;
  }

  &Badge {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 18px;
    height: 18px;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background: #ff6000;
    border-radius: 50%;
  }

  &Dropdown {
    position: absolute;
    top: 47px;
    right: 0;
    z-index: 1;
    display: none;
    width: 360px;
    padding: 21px;
    background-color: #fff;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    border-top-right-radius: 0;

    ul,
    li {
      margin: 0 0 20px 0;
      padding: 0;
    }

    li {
      list-style: none;
    }
  }

  :hover > &Handler {
    position: relative;
    border-bottom: solid thin #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  :hover > &Dropdown {
    display: block;
  }

  &Product {
    display: flex;

    &Image {
      padding: 7px 7px 5.77px 7px;
      border: solid thin #e5e5e5;
      border-radius: 4px;

      img {
        width: 40px;
        height: 59.23px;
        object-fit: fill;
      }
    }

    &Detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;

      &Title {
        display: -webkit-box;
        max-width: 30ch;
        overflow: hidden;
        color: #484848;
        font-size: 12px;
        line-height: 18px;
        text-decoration: none;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &Button {
      display: inline;
      padding: 4px 10px;
      color: #f90000;
      font-size: 10px;
      line-height: 18px;
      background: #fff;
      border: 1px solid #f90000;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: #f90000;
        border-color: #fff;
      }
    }
  }
}

.empty {
  display: block;
  margin: 0 0 10px 0;
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}
