.product {
  display: block;
  box-sizing: border-box;
  width: 254px;
  border: 2px solid transparent;
  border-radius: 4px;

  &Header {
    border: thin solid #e5e5e5;
    border-radius: 4px;
  }

  &Image {
    width: 224px;
    height: 332px;
    padding: 3px 15px 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &Attributes {
    margin: 10px 0 0 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      font-weight: bold;
      font-size: 12px;
      line-height: 18px;

      span {
        font-weight: 300;
      }
    }
  }

  &Info {
    padding: 9px 15px;

    h4 {
      margin: 0;
      padding: 0;
      color: #484848;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
    }
  }

  &Price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 37px;
    margin-top: 13px;

    span.price {
      display: block;
      color: #000;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
    }

    &Discount {
      del {
        display: inline-block;
        margin-right: 5px;
        color: #9b9b9b;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-decoration-line: line-through;
      }

      &Percent {
        display: inline-block;
        margin-left: 5px;
        color: #f90000;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &AddCard {
    display: none;
    width: 100%;
    margin-top: 66px;
    padding: 6px 0;
    color: #ff6000;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background: rgba(255, 96, 0, 0.11);
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:disabled {
      color: #b0b0b0;
      background: rgba(126, 126, 126, 0.11);
    }
  }

  &:hover {
    border-color: #cdcdcd;

    .productHeader {
      border-color: transparent;
    }

    .productAttributes {
      display: none;
    }
    .productAddCard {
      display: inline-block;
    }
  }

  &Skeleton {
  }
}
